/* Self-hosted Yuji Syuku (Subset)
   /public/fonts/yuji-syuku/yuji-syuku-subset.woff2
*/
@font-face {
  font-family: 'Yuji Syuku';
  font-style: normal;
  font-weight: 400;
  /* Avoid delaying LCP due to webfont; allow fallback if slow */
  font-display: swap;
  src: url('/fonts/yuji-syuku/yuji-syuku-subset.woff2') format('woff2');
}
